body {
  background-color: #fafcfe;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px!important;
}

.construction_bottom{
  font-size: x-small;
  margin: 0;
  position: absolute;
  top: 98%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.centre{
  max-width: 800px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.about_left{
  max-width: 800px;
  text-align: left;
}

.image_centre{
  height:35px;
  width:35px;
  border: 5px solid #fafcfe;
}

.profile_image{
  height:200px;
  width:200px;
  border-radius: 50%;
  border: 2px solid black;
}

nav {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

a {text-decoration: none; color:grey;}
a:visited { text-decoration: none; color:grey; }
a:hover { text-decoration: none; color:black; }

.boxhead a {
  text-decoration: none;
}