{% extends "base.html" %}

{% block content %}
    <nav>
        <div class="boxhead"><a href=home style="color:grey">HOME</a></div>
        <div class="boxhead"><a href=projects style="color:grey">PROJECTS</a></div>
        <div><b>ABOUT</b></div>
    </nav>
    <div class="centre">  
        <h1>SHIV NARAYANAN</h1>
        <img class="profile_image" src="static/images/shiv-circle.png">
        <h3>EDUCATION</h3>
        <p class="about_left">I am a sophomore at the Singapore Management University studying Information Systems with 
            a major in Smart City Management and Technology. I expect to graduate in December 2023. </p>
        <h3>SKILLS</h3>
        <div>
            <li>Programming Languages: Python, Flask, SQL, Bash</li>
            <li>Cloud technologies: AWS</li>
            <li>Infrastructure-as-Code Tools: Terraform</li>
            <li>Database Technologies: MySQL, PostgreSQL</li>
            <li>Big Data: Apache Kafka, Apache Airflow</li>
            <li>Others: Excel, Tableau, HTML, CSS</li>
        </div>
        
    </div>
{% endblock content %}
