{% extends "base.html" %}

{% block content %}
    <nav class="navigation">
        <div class="boxhead"><a href=home>HOME</a></div>
        <div class="boxhead"><a href=experience>EXPERIENCE</a></div>
        <div class="boxhead"><b>BLOG</b></div>
    </nav>
    <div class="blog_centre">  
        <p class="about_left">23 April 2022 <img class="medium_centre" src="static/images/medium-logo.png" /></p>
        
        <img class="article_image" src="static/images/singapore.jpg">
        
        <h1 class="about_left">The Rise of the Data Engineer (in Singapore)</h1>
        
        <p class="about_left">This article was inspired by the well-known “The Rise of the Data Engineer” 
            article by Maxime Beauchemin, the creator of Apache Airflow and a former engineer at Airbnb. He 
            wrote this article almost five years ago, when big data position was only relevant to Silicon Valley 
            companies who had to manage massive amounts of data. </p>
        
        <p class="about_left" style="color: #0066CC;"><a href=https://shiv-narayanan.medium.com>Read full article</a> > </p>
    </div>
{% endblock content %}
