{% extends "base.html" %}

{% block content %} 
    <nav>
        <div class="boxhead"><a href=home>HOME</a></div>
        <div><b>EXPERIENCE</b></div>
        <div class="boxhead"><a href=blog>BLOG</a></div>
    </nav>
    <div class="centre">
        <h1>MY EXPERIENCE</h1>
        <p>I am currently working on a few projects, including this website. You can check them out on my GitHub. 
            These projects are by no means complete! I am continuously working on them whenever I have the free time.  </p>
    </div>
{% endblock content %}
