{% extends "base.html" %}

{% block content %} 
    <nav class="navigation">
        <div class="boxhead"><a href=home>HOME</a></div>
        <div class="boxhead"><b>EXPERIENCE</b></div>
        <div class="boxhead"><a href=blog>BLOG</a></div>
    </nav>
    <div class="blog_centre">
        <button type="button" class="collapsible active">
            <h3>WORK EXPERIENCE <span style="float:right; font-size:23px; font-weight: 100; padding-right: 8px;">&#x2B;</span></h3>
            <hr class="rounded">
        </button>
        <div class="content" style="max-height: max-content;">
            <div class="about_left">
                <p style="margin-top: 0px; float: right; color:rgb(95, 95, 95); font-size: 100%">Singapore</p>
                <p style="margin-top: 0px;"><b>Health Promotion Board</b> · 3-Months Internship</p>
                <p style="margin-top: -15px; float: right; color:rgb(95, 95, 95); font-size: 96%">May 2022 - Aug 2022</p>
                <p style="margin-top: -15px; font-size: 96%; font-style: italic;"> Data Engineer, Chief Data Officer's Office (CDOO) </p>
                <p>
                    The objective of the Chief Data Officer Office (CDOO) is to advance the data-driven, evidence-based and citizen-centric approach to health promotion 
                    through state-of-the-art data best practices to maximize data quality, and internationally recognized governance and policies to promote safe usage of data. 
                    As a Data Engineer Intern with CDOO, I:
                </p>
                <ul>
                    <li>Partcipated in the technical design of HPB's multi-hop data architecture, with a focus on scalability, performance and flexibility throughout the entire data lifecycle. (done together with A*Star and GovTech engineers)</li>
                    <li>Translated research and analytics questions from different stakeholders into data features (feature engineering) to facilitate analytics, dashboarding and model training.</li>
                    <li>Was involved in the collaboration between HPB and AI Singapore, in which I had the opportunity to attend sprint meetings every three weeks to understand the high level features engineered using machine learning and determine its suitability to be integrated with HPB's existing feature store.</li>
                    <li>Built new batch ETL pipelines relating to data ingestion, data imputation, data transformation and integration. (through test-driven development) </li>             
                </ul>
            </div>
            <div class="about_left">
                <p style="margin-top: 0px; float: right; color:rgb(95, 95, 95); font-size: 100%">Singapore</p>
                <p style="margin-top: 0px;"><b>Temasek</b> · 6-Months Internship</p>
                <p style="margin-top: -15px; float: right; color:rgb(95, 95, 95); font-size: 96%">Jan 2023 - Jun 2023</p>
                <p style="margin-top: -15px; font-size: 96%; font-style: italic;"> Data Engineer, Digital Technology </p>
            </div>
        </div>
        
        <button type="button" class="collapsible">
            <h3>PERSONAL PROJECTS <span style="float:right; font-size:23px; font-weight: 100; padding-right: 8px;">&#x2B;</span></h3>
            <hr class="rounded">
        </button>
        <div class="content">
            <div class="about_left">
                <p style="margin-left: -6px; margin-top: 0px;"></p>
            </div>
        </div>

        <button type="button" class="collapsible">
            <h3>CERTIFICATIONS <span style="float:right; font-size:23px; font-weight: 100; padding-right: 8px;">&#x2B;</span></h3>
            <hr class="rounded">
        </button>
        <div class="content">
            <div class="about_left">
                <p style="margin-left: -6px; margin-top: 0px; padding-left: 5px; padding-right: 5px;"><span style="color:darkred;">DISCLAIMER</span>: Each of these certifications took about two months of preparation on average, and are by 
                    no means a true indication of my skills or experience in a SaaS/IaaS/PaaS. These certifications were simply a good place to start when I wanted to learn more about a SaaS/IaaS/PaaS. </p>
                <ul>
                    <li>AWS Certified Cloud Practioner (<a href=https://www.credly.com/badges/ae9087a9-77bc-4e69-97bf-54a48f0294a8?source>Credly Badge</a>)</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
            content.style.maxHeight = null;
            } else {
            content.style.maxHeight = content.scrollHeight + "px";
            } 
        });
        }
    </script>

    </div>
{% endblock content %}

