{% extends "base.html" %}

{% block content %}
    <nav>
        <div><b>HOME</b></div>
        <div class="boxhead"><a href=experience>EXPERIENCE</a></div>
        <div class="boxhead"><a href=blog>BLOG</a></div>
    </nav>
    <div class="centre">
        <h1>&#128075;&#127998; Hello, I am Shiv Narayanan.</h1>
        <p>I'm a penultimate student studying Information Systems at Singapore Management University, with a major in Smart City 
            Management and Technology. I have a keen interest in Infrastructure and Data Engineering and would love for opportunities
            that would allow me to hone my skills. </p>
        
        <p>During my free time, I like to work on my personal project, play table tennis and go for long runs.</p>
        <a href="https://github.com/shivnarayanan?tab=repositories">
            <img class="image_centre" src="static/images/github.svg"></a>     
        <a href="https://www.linkedin.com/in/shiv-narayanan/">
            <img class="image_centre" src="static/images/linkedin-logo.svg"></a>
    </div>
    <p class="construction_bottom">Last updated on 24 April 2022</p>
{% endblock content %}
