{% extends "base.html" %}

{% block content %}
    <nav>
        <div><b>HOME</b></div>
        <div class="boxhead"><a href=experience>EXPERIENCE</a></div>
        <div class="boxhead"><a href=blog>BLOG</a></div>
    </nav>
    <div class="centre">
        <h1>Hello, I am Shiv Narayanan.</h1>
        <p>I am a penultimate student studying Information Systems at Singapore Management University, majoring in Smart City 
            Management and Technology. I have a keen interest in Data Engineering and Infrastructure and I write articles about it on Medium. </p>

        <p> I am currently interning at Health Promotion Board as a Data Engineer and will be interning at Temasek Holdings as a Data Engineer in the first half of 2023.</p> 
        
        <a href="https://github.com/shivnarayanan?tab=repositories">
            <img class="image_centre" src="static/images/github.svg"></a>     
        <a href="https://www.linkedin.com/in/shiv-narayanan/">
            <img class="image_centre" src="static/images/linkedin-logo.svg"></a>
    </div>
    <p class="construction_bottom">Last updated 24 April 2022</p>
{% endblock content %}
