<!doctype html>

<html lang="en">
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">
</head>

<body>
    <div>
        <h5 class="construction_centre">- PAGE UNDER CONSTRUCTION -</h5>
        <h1 class="name_centre">SHIV NARAYANAN</h1>
        <a href="https://www.linkedin.com/in/shiv-narayanan/">
            <img class="linkedin_centre" src="static/images/linkedin-logo.svg">
        </a>
        <a href="https://github.com/shivnarayanan">
            <img class="github_centre" src="static/images/github.svg">
        </a>
    </div>
</body>
</html>
