{% extends "base.html" %}

{% block content %} 
    <nav>
        <div class="boxhead"><a href=home style="color:grey">HOME</a></div>
        <div><b>PROJECTS</b></div>
        <div class="boxhead"><a href=about style="color:grey">ABOUT</a></div>
    </nav>
    <div class="centre">
        <h1>PERSONAL PROJECTS</h1>
        <p>I started a few personal projects in 2022, including this website. You can check them out on my GitHub. 
            These projects are by no means complete! I am continuously working on them whenever I have the free time.  </p>
                 
        <a href="https://github.com/shivnarayanan?tab=repositories">
            <img class="image_centre" src="static/images/github.svg"></a> 
    </div>
{% endblock content %}
